/* RESET */
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: #2E6EB5;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:75px
}

/* LAYOUT */
.container {
    display: flex;
}

/* NAV */
nav {
    background-color: #6E6E6E;
    width: 220px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    margin-block-start: 10px;
}

/* MAIN */
main {
    flex: 1;
}

/* HERO */
.hero {
    background-color: #F07A24;
    color: white;
    text-align: center;
    padding: 60px 20px;
    margin-block-start: 10px;
}

.hero h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.hero button {
    background-color: #eeeeee;
    color: #F07A24;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}
/* SERVICES */
.services-title {
    background-color: #ddd;
    padding: 10px;
}

.services h2 {
    background-color: #5FA51A;
    color: white;
    text-align: center;
    padding: 10px;
    margin-block-start: 10px;
    margin-block-end: 0;
    font-size: 20px;
    grid-column: 1 / -1;
}

.services {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 1.25rem;
    padding: 0 1.25rem;
}

.service-box {
    background-color: #6EEB4D;
    height: 13.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

/* INFO */
.info {
    background-color: #8B5FA8;
    color: white;
    text-align: center;
    padding: 3.125rem 1.25rem;
    margin: 10px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.info h1 {
    font-size: 1.25rem;
}

/* FOOTER */
footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 1.5625rem;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.3125rem;
}

/* MEDIA QUERIES */

/* Tablet */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    nav {
        width: 13.75rem;
        flex-direction: column;
        margin-right: 10px;
        margin-bottom: 0;
        padding: 20px 10px;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 1.25rem;
        padding: 0;
    }

    .hero {
        padding: 3.75rem 1.25rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    nav {
        width: 13.75rem;
    }

    .services {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 3.125rem;
    }

    .hero {
        padding: 3.75rem 2.5rem;
    }
}